BasedOnStyle: Chromium

AlignConsecutiveMacros: true
PointerAlignment: Right

AlignAfterOpenBracket: BlockIndent
IncludeBlocks: Regroup
AllowShortLoopsOnASingleLine: true

BinPackArguments: false
BinPackParameters: false

UseTab: Always
TabWidth: 3

IndentWidth: 3
ContinuationIndentWidth: 3
BracedInitializerIndentWidth: 3
ConstructorInitializerIndentWidth: 3
AccessModifierOffset: -3
IndentAccessModifiers: false
PPIndentWidth: 0
WrapNamespaceBodyWithEmptyLines: Always
